* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6c63ff;
}

a:link {
  text-decoration: none;
}

.main-container {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.button-filled {
  background-color: var(--primary);
  padding: 15px 16px;
  color: white;
  border-radius: 5px;
}

.button-outline {
  border: 1px solid var(--primary);
  padding: 15px 16px;
  color: var(--primary);
  border-radius: 5px;
}

.main-title {
  display: flex;
  margin: 90px 0;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.separator {
  width: 150px;
  height: 2px;
  background-color: var(--primary);
  border-radius: 1px;
}

.mobile-phone {
  max-width: 500px;
  max-height: 300px;
}

.container-how-it-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.ellipses {
  display: flex;
  justify-items: center;
  text-align: center;
}

.ellipses img {
  height: 200px;
}
